pyyaml
langchain
pypdf
langchain-community
unstructured
unstructured_inference
pdf2image
pdfminer.six
pi_heif
langchain_huggingface
sentence_transformers
chroma
langchain-chroma
dotenv
groq
tavily-python
mcp
langchain-groq