flask
python-dotenv

langchain
langchain-community
langchain-groq
langgraph

groq
tavily-python

chromadb
langchain-chroma
sentence-transformers

pypdf
pdfminer.six
pdf2image
unstructured
unstructured-inference
pi-heif
langchain-huggingface

pyyaml